<h1>
	Technology News
	{{#if q}}
		on {{ q }}
	{{/if}}
	{{#if country}}
		for {{ country }}
	{{/if}}

</h1>

{{#if hasArticles}}
	{{#each articles}}
		<article>
			<table>
				<tr>
					<td>
						<div>
							{{#if this.urlToImage}}
								<img src="{{ this.urlToImage }}" class="thumbnail">
							{{else}}
								<img src="/placeholder.png" class="thumbnail">
							{{/if}}
						</div>
					</td>
					<td>
						<div class="news">
							<a href="{{ this.url }}">
								<h3>{{ this.title }}</h3>
							</a>
							<p>
							<div>Author: {{ this.author }}</div>
							<div>Date: {{ this.publishedAt }}</div>
							</p>
							<p><i>{{ this.description }}</i></p>
							<p>{{ this.content }}</p>
						</div>
					</td>
				</tr>
			</table>
		</article>
	{{/each}}

{{else}}
	<h2>No news found</h2>
{{/if}}
